In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../../Preprocessing/processed_dataframes/sorted_recipes.csv")
df.head()

,recipe_id,minutes,nutrition,n_steps,n_ingredients
0,0,1485,"[170.9, 3.0, 120.0, 1.0, 6.0, 6.0, 12.0]",13,4
1,1,265,"[1110.7, 90.0, 81.0, 15.0, 126.0, 82.0, 28.0]",17,26
2,2,35,"[311.1, 0.0, 308.0, 0.0, 0.0, 0.0, 27.0]",8,6
3,3,1460,"[536.1, 36.0, 128.0, 64.0, 58.0, 19.0, 21.0]",18,15
4,4,140,"[437.9, 29.0, 170.0, 11.0, 13.0, 54.0, 19.0]",35,15

## Minutes

In [6]:
df["minutes"].max()

2147483647

## Nutrition

In [11]:
import math

In [14]:
maxi = -math.inf
for nut in df["nutrition"].tolist():
    nut = eval(nut)
    maxi = max(maxi, max(nut))
    
print(maxi)

434360.2

## Steps

In [7]:
df["n_steps"].max()

145

## Ingredients

In [8]:
df["n_ingredients"].max()

43