In [1]:
import pandas as pd

In [2]:
recipes_csv = pd.read_csv("processed_dataframes/recipes.csv")

In [3]:
recipes_csv.head()

,recipe_id,minutes,nutrition,n_steps,n_ingredients
0,79681,55,"[51.5, 0.0, 13.0, 0.0, 2.0, 0.0, 4.0]",11,7
1,17031,30,"[173.4, 18.0, 0.0, 17.0, 22.0, 35.0, 1.0]",9,6
2,65277,130,"[269.8, 22.0, 32.0, 48.0, 39.0, 27.0, 5.0]",6,13
3,33775,45,"[368.1, 17.0, 10.0, 2.0, 14.0, 8.0, 20.0]",11,11
4,24632,190,"[352.9, 1.0, 337.0, 23.0, 3.0, 0.0, 28.0]",5,8

In [4]:
recipes_csv.sort_values(by=["recipe_id"], inplace=True)

In [5]:
recipes_csv.head()

,recipe_id,minutes,nutrition,n_steps,n_ingredients
126987,0,1485,"[170.9, 3.0, 120.0, 1.0, 6.0, 6.0, 12.0]",13,4
23695,1,265,"[1110.7, 90.0, 81.0, 15.0, 126.0, 82.0, 28.0]",17,26
22701,2,35,"[311.1, 0.0, 308.0, 0.0, 0.0, 0.0, 27.0]",8,6
36412,3,1460,"[536.1, 36.0, 128.0, 64.0, 58.0, 19.0, 21.0]",18,15
22217,4,140,"[437.9, 29.0, 170.0, 11.0, 13.0, 54.0, 19.0]",35,15

In [6]:
from tqdm.notebook import tqdm

# Assert contiguous
for i, recipe_id in tqdm(enumerate(recipes_csv["recipe_id"].tolist())):
    assert i == recipe_id

0it [00:00, ?it/s]

In [7]:
recipes_csv.to_csv("processed_dataframes/sorted_recipes.csv", index=False)